body {
  font-family: "Original Surfer", sans-serif;
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: white;
  background-size: cover;
  overflow-x: auto;
}
a {
  color: #498600;
  font-weight: 900;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  z-index: 1000;
  width: 100%;
}
#logo > img {
  transition: width 0.1s linear;
  width: 500px;
}
#socials-container {
  display: flex;
  position: fixed;
  right: 0;
  z-index: 10000;
  padding: 30px;
}
#socials-container .social {
  padding: 0px 10px;
}
#socials-container .social svg {
  height: 25px;
  cursor: pointer;
}
.shrink {
  width: 15% !important;
}
#intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro div {
  font-size: 20px;
  width: 840px;
  text-align: center;
  padding: 10px;
}
#expansion-panel {
  padding: 10px;
  height: fit-content;
}
#grass-footer {
  position: fixed;
  height: 35px;
  width: 100%;
  bottom: 0;
  background-image: url('./images/grass.png');
}
#label {
  display: flex;
  align-items: center;
  justify-content: center;
}
#label img {
  height: 300px;
}
#container {
  display: flex;
  justify-content: center;
}
#about {
  width: 100%;
  padding-top: 50px;
}
#about h1 {
  text-align: center;
}
#about > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#about > div > div {
  line-height: 30px;
  max-width: 600px;
  padding: 0px 10px 30px 10px;
  text-align: justify;

}
#shop-now {
  background: #b9f374;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 100000;
  border: 3px solid black;
  padding: 17px;
  border-radius: 50px;
  cursor: pointer;
  transition: .1s ease-in-out;
  font-weight: 900;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#shop-now:hover {
  transform: scale(1.05);
}
#shop-now div {
  display: flex;
  align-items: center;
}
#shop-now svg {
  margin-left: 8px;
  height: 20px;
}
.header-spacer {
  height: 280px;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: black solid 2px;
  height: 200px;
  padding-bottom: 60px;
  margin-top: 30px;
  flex-direction: column;
}
#footer a {
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}
/* iphone (?) */
@media (max-width: 899px) {
  #logo img {
    width: 100vw;
    max-width: 400px;
  }
  #expansion-panel {
    width: auto;
  }
  #gallery {
    width: 94% !important;
    padding: 0px 10px 50px 10px !important;
  }
  .shrink {
    width: 50% !important;
  }
  #socials-container {
    padding: 10px;
  }
  #socials-container .social {
    padding: 0px 10px;
  }
  #socials-container .social svg {
    height: 20px;
  }
  .header-spacer {
    height: 200px;
  }
  #container {
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
  #shop-now {
    bottom: 40px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
  }
  #shop-now svg {
    margin-left: 4px;
  }
}
@media (min-width: 900px) {
  #expansion-panel {
    width: 500px;
  }
}
@media (min-width: 1400px) {
  .header-spacer {
    height: 280px;
  }
}