body {
  font-family: "Original Surfer", sans-serif;
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: white;
  background-size: cover;
  margin-bottom: 50px;
  overflow-x: auto;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  z-index: 1000;
  width: 100%;
}
#logo > img {
  transition: width 0.1s linear;
  width: 30%;
  max-width: 500px;
}
#socials-container {
  display: flex;
  position: fixed;
  right: 0;
  z-index: 10000;
  padding: 30px;
}
#socials-container .social {
  padding: 0px 10px;
}
#socials-container .social svg {
  height: 25px;
  cursor: pointer;
}
.shrink {
  width: 15% !important;
}
#intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro div {
  font-size: 20px;
  width: 840px;
  text-align: center;
  padding: 10px;
}
#expansion-panel {
  padding: 10px;
  height: fit-content;
}
#grass-footer {
  position: fixed;
  height: 35px;
  width: 100%;
  bottom: 0;
  background-image: url('./images/grass.png');
}
#label {
  display: flex;
  align-items: center;
  justify-content: center;
}
#label img {
  height: 300px;
}
#container {
  display: flex;
  justify-content: center;
}
#about {
  width: 100%;
  padding-top: 50px;
}
#about h1 {
  text-align: center;
}
#about > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#about > div > div {
  line-height: 30px;
  max-width: 600px;
  padding: 0px 10px 30px 10px;
  text-align: justify;

}
/* iphone (?) */
@media (max-width: 899px) {
  #logo img {
    width: 100vw;
    max-width: 400px;
  }
  #expansion-panel {
    width: auto;
  }
  #gallery {
    width: 94% !important;
    padding: 0px 10px 50px 10px !important;
  }
  .shrink {
    width: 50% !important;
  }
  #socials-container {
    padding: 10px;
  }
  #socials-container .social {
    padding: 0px 10px;
  }
  #socials-container .social svg {
    height: 20px;
  }
  .header-spacer {
    height: 200px;
  }
  #container {
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
}
@media (min-width: 900px) {
  #expansion-panel {
    width: 500px;
  }
}
@media (min-width: 1400px) {
  .header-spacer {
    height: 280px;
  }
}
@media (max-width: 1399px) {
  .header-spacer {
    height: 230px;
  }
}