#gallery {
  position: relative;
  width: 100%;
  padding: 0px 40px;
  background: white;
  max-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gallery .gallery-container {
  position: relative;
  width: 100%;
}
#gallery .gallery {
  height: 510px;
  display: flex;
  align-items: center;
}
#gallery .gallery img {
  width: 100%;
  border-radius: 20px;
}
#gallery .buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gallery .buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
  height: 32px;
  width: 32px;
}
#gallery .buttons .image-btn-container {
  display: flex;
}
#gallery .buttons .btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0px 5px;
}
#gallery .buttons .btn.selected {
  background-color: rgba(0, 0, 0, 0.3);
}
#gallery .buttons button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#gallery .hidden {
  opacity: 0;
}